html {
	height: 98%;
}

body {
	height: 98%;
}

#content {
	width: 100%;
	height: 98%;
	display: flex;
	justify-content: center;
	flex-direction: column
}

#sentence {
	font-size: 8em;
	font-size: 8vw;
	font-family: arial, sans-serif;
	font-weight: 600;
	text-align: center;
}

#day {
	font-size: 20em;
	font-size: 20vw;
	font-family: arial, sans-serif;
	font-weight: 600;
	text-align: center;
}

#footer {
	font-family: arial, sans-serif;
	font-size: 0.8rem;
	text-align: right;
	line-height: 1.5;
	color: #555555;
	position: fixed;
	bottom: 1vh;
	right: 1vw;
}

#footer a {
	font-family: arial, sans-serif;
	font-size: 0.8rem;
	line-height: 1.5;
	color: #555555;
	text-decoration: underline;
}