html {
	max-height: 95vh;
}

#content {
	min-height: 95vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#sentence {
	font-size: 8em;
	font-size: 8vw;
	font-family: arial, sans-serif;
	font-weight: 600;
	text-align: center;
	width: 95%;
}

#day {
	font-size: 20em;
	font-size: 20vw;
	font-family: arial, sans-serif;
	font-weight: 600;
	text-align: center;
}

#footer {
	font-family: arial, sans-serif;
	font-size: 0.8rem;
	text-align: right;
	line-height: 1.5;
	color: #555555;
	position: fixed;
	bottom: 1vh;
	right: 1vw;
}

#footer a {
	font-family: arial, sans-serif;
	font-size: 0.8rem;
	line-height: 1.5;
	color: #555555;
	text-decoration: underline;
}